---
---

@import "{{ site.theme }}";
.site-title {font-size: 35px;
            color: #3B4A53;
            webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
}
.site-header {border: none;

}
.site-footer {display: none;


}
